@model HIS.Models.SubjectMaster

@{
    ViewBag.Title = "AddSubject";
}



<div class="" style="width:100%;padding:10px;">
    <div class="row">

        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Add Subject </h3>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group col-md-8">
                            @Html.LabelFor(model => model.SubjectName, htmlAttributes: new { @class = "control-label col-md-8" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SubjectName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SubjectName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        debugger;
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}  